[

 ;; Account - a collection of Positions

 {:db/id #db/id[:db.part/db]
  :db/ident :account/custodian-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "The custodians account id - primary key"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :account/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The account name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :account/transactions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The account transactions"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :account/positions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "The account positions"
  :db.install/_attribute :db.part/db} ]