[
 {:db/id #db/id[:db.part/db]
  :db/ident :custodian/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "The custodians name - primary key"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :custodian/accounts
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "The custodians accounts"
  :db.install/_attribute :db.part/db}
 ]