[

 ;; Database entity attributes for holding and valuing positions

 {:db/id #db/id[:db.part/db]
  :db/ident :position/security
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The security held in the position"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :position/lots
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true                                      ;Position owns it's lots
  :db/doc "The tax lots"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :position/closing-value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "The last close value"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :position/closing-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The last close date"
  :db.install/_attribute :db.part/db}

 ]