[

 {:db/id #db/id[:db.part/db]
  :db/ident  :security/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An security's name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident  :security/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "A security type - a keyword"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident  :security/cusip
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "A security's CUSIP"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident  :security/isin
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "A security's ISIN"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/ticker
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "An equity's ticker symbol"
  :db.install/_attribute :db.part/db}

 ]