[

 ;; General security attributes

 {:db/id #db/id[:db.part/db]
  :db/ident :security/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An security's name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A securitys type enum value"
  :db.install/_attribute :db.part/db}

 ;; Security type enums

 [:db/add #db/id[:db.part/user] :db/ident :security.type/cash]
 [:db/add #db/id[:db.part/user] :db/ident :security.type/stock]
 [:db/add #db/id[:db.part/user] :db/ident :security.type/etf]
 [:db/add #db/id[:db.part/user] :db/ident :security.type/mutual-fund]

 ;; Security - generall

 {:db/id #db/id[:db.part/db]
  :db/ident :security/cusip
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "An security's CUSIP"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/isin
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "An security's ISIN"
  :db.install/_attribute :db.part/db}

 ;; Securities - Equity, Cash

 {:db/id #db/id[:db.part/db]
  :db/ident :equity/ticker
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "An equity's ticker symbol"
  :db.install/_attribute :db.part/db}

 ]