[
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :domain/datatype
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "A keyword representing the domain datatype. Generally used for multi-method dispatch"
  :db.install/_attribute :db.part/db}
 ]