[
 ;; Tax Lots

 {:db/id #db/id[:db.part/db]
  :db/ident :tax-lot/quantity
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "Quantity. Signed value, increase or decrease"
  :db.install/_attribute :db.part/db}

 ;{:db/id #db/id[:db.part/db]
 ; :db/ident :tax-lot/realized-gain
 ; :db/valueType :db.type/bigdec
 ; :db/cardinality :db.cardinality/one
 ; :db/doc "Realized gain of a sold lot"
 ; :db.install/_attribute :db.part/db}
 ;
 ;{:db/id #db/id[:db.part/db]
 ; :db/ident :tax-lot/unrealized-gain
 ; :db/valueType :db.type/bigdec
 ; :db/cardinality :db.cardinality/one
 ; :db/doc "Unrealized gain of an open position. As of position close date"
 ; :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :tax-lot/transactions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Financiall transactions associated with this lot"
  :db.install/_attribute :db.part/db}
 ]